/*-------------------------------------------------------*/
/* General
/*-------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

.oh {
  overflow: hidden;
}

.relative {
  position: relative;
}

.section-wrap, .section-wrap-mp {
  padding: 150px 0;
  overflow: hidden;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.section-wrap-mp {
  padding: 100px 0;
}

.color-white {
  color: #fff !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bg-light {
  background-color: #f7f7f7;
}

.bg-dark {
  background-color: #242424;
}

.last {
  margin-bottom: 0 !important;
}

::-moz-selection {
  color: #fff;
  background: #000;
}

::-webkit-selection {
  color: #fff;
  background: #000;
}

::selection {
  color: #fff;
  background: #000;
}

a {
  text-decoration: none;
  color: #bfa67a;
  outline: none;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  color: #7a7a7a;
  outline: none;
}

:focus {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pt Serif", serif;
  color: #7a7a7a;
  font-size: 15px;
  line-height: 1.5;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

video {
  height: 100%;
  width: 100%;
}

body img {
  border: none;
  max-width: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  text-transform: uppercase;
  color: #111;
  letter-spacing: 0.05em;
  font-weight: 700;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

p {
  font-size: 15px;
  color: #7a7a7a;
  font-weight: normal;
  line-height: 25px;
}

.subheading {
  font-family: "Pt Serif", serif;
  font-size: 16px;
  font-style: italic;
  line-height: 35px
}

.heading {
  margin-bottom: 60px;
}

.bottom-line:after {
  content: "";
  display: block;
  width: 48px;
  border-bottom: 3px solid #e8e8e8;
  margin: 15px auto 15px;
}


@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-nav, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
    margin-top: 10px;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/*-------------------------------------------------------*/
/* Navigation Onepage
/*-------------------------------------------------------*/
.nav-type-1 .container-fluid {
  padding: 0 50px;
}

.navbar {
  margin-bottom: 0;
  border: none;
  min-height: 60px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1200;
}

.navbar-nav {
  margin: 0;
  float: none;
  display: inline-block;
}

.navbar-nav > li > a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  padding: 0 20px;
  line-height: 80px;
  color: #fff;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation-overlay {
  background-color: rgba(17, 17, 17, 0.5);
  width: 100%;
  line-height: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0 5%;
}

.navigation-overlay.sticky, .navigation-overlay.black  {
  background-color: #111111;
  visibility: visible;
  opacity: 1;
}

.navigation-overlay.sticky .navbar-nav > li > a,
.navigation-overlay.sticky .menu-socials li a {
  line-height: 60px;
}

.navigation-overlay.sticky .counter {
  line-height: 45px;
}

.navbar-header {
  width: 20%;
  padding-right: 15px;
}

.nav-wrap {
  width: auto;
  float: right;
}

.navmargin {
  height: 80px;
}

.menu-socials {
  width: auto;
  float: right;
  padding: 0 15px;
}

.menu-socials ul {
  float: right;
}

.menu-socials li {
  display: inline-block;
}

.menu-socials li a {
  font-size: 14px;
  line-height: 80px;
  margin-left: 22px;
  color: #fff;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.menu-socials li a:hover {
  opacity: 1;
}

.counter-number {
    display: inline-block;
    line-height: 16px;
    background: black;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 50%;
}

.counter {
    display: inline-block;
    line-height: 65px;
    vertical-align: top;
    font-size: 11px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.logo-container {
  padding: 0 15px;
  float: left;
}

.logo-wrap {
  display: table;
  width: 100%;
}

.logo-wrap > a {
  display: block;
  height: 66px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logo-wrap.shrink > a {
  display: block;
  height: 40px;
  margin-top: 6px;
}

.logo-wrap img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 100%;
}

.logo-wrap.shrink img {
  height: 100%;
}

.navbar-collapse.in {
  overflow-x: hidden;
}

.navbar-nav > li > a:hover,
.navbar-nav > .active > a,
.navbar-nav > .active > a:focus,
.navbar-nav > .active > a:hover,
.menu-socials li > a:hover {
  opacity: 1;
  color: #fff !important;
}

.navbar-collapse {
  padding: 0;
  border-top: none;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover,
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
  text-decoration: none;
  border-color: #f2f2f2;
}

@media (max-width: 991px) {
  .navigation-overlay,
  .navigation-overlay.sticky {
    background-color: rgba(17, 17, 17, 0.9);
  }
  .nav-wrap {
    width: 100%;
    padding: 0;
    min-height: 0;
  }
  .nav-type-1 .container-fluid {
    padding: 0 15px;
  }
  .navbar-header {
    width: 100%;
    padding-right: 0;
  }
  .logo-wrap img {
    height: 48px;
  }
  .logo-wrap > a {
    height: 60px;
  }
  .navbar-nav {
    width: 100%;
    padding: 40px 0;
  }
  .navigation-overlay.sticky .navbar-nav > li > a,
  .navigation-overlay .navbar-nav > li > a {
    padding: 10px 0;
    line-height: 30px;
  }
}

/* Navigation Toggle
-------------------------------------------------------*/
.navbar-toggle {
  margin-top: 13px;
  border: none;
  z-index: 50;
  margin-right: 5px;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
  width: 18px;
}

.navbar-toggle:focus, .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
  background-color: #f2f2f2;
}

/*Go to Top*/
#back-to-top {
  display: block;
  z-index: 500;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 22px;
  position: fixed;
  bottom: -40px;
  right: 20px;
  line-height: 35px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-color: #fff;
  text-decoration: none;
  box-shadow: 1px 1.732px 12px 0px rgba(0, 0, 0, 0.14), 1px 1.732px 3px 0px rgba(0, 0, 0, 0.12);
}

#back-to-top i {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#back-to-top a {
  width: 40px;
  height: 40px;
  display: block;
  color: #111;
}

#back-to-top.show {
  bottom: 20px;
}

#back-to-top:hover {
  background-color: #111;
}

#back-to-top:hover i {
  color: #fff;
}

/*-------------------------------------------------------*/
/* Navigation Multi-Page
/*-------------------------------------------------------*/
.nav-type-2 .navbar {
  min-height: 90px;
}

.nav-type-2 .nav-wrap {
  width: 80%;
}

.nav-type-2 .navbar-nav > li > a {
  padding: 0 15px;
}

.nav-type-2 .navbar-toggle:focus .icon-bar,
.nav-type-2 .navbar-toggle:hover .icon-bar {
  background-color: #111;
}

.nav-type-2 .navbar-nav > li > a {
  color: #111;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.nav-type-2 .navbar-toggle .icon-bar,
.nav-type-4 .navbar-toggle .icon-bar {
  background-color: #7a7a7a;
}

.navigation.offset {
  -webkit-transform: translate3d(0, -300px, 0);
  -moz-transform: translate3d(0, -300px, 0);
  -ms-transform: translate3d(0, -300px, 0);
  -o-transform: translate3d(0, -300px, 0);
  transform: translate3d(0, -300px, 0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation.sticky {
  position: fixed;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 60px;
  top: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1009;
}

.navigation.scrolling {
  -webkit-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  -ms-transform: translate3d(0, 0px, 0);
  -o-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
}

.navigation.sticky.scrolling {
  opacity: 1;
  visibility: visible;
}

.navigation.sticky .navbar-nav > li > a {
  line-height: 60px;
}

.navbar-nav .dropdown-menu {
  left: 0;
}

.navbar-nav .dropdown-menu.menu-right {
  left: auto;
  right: 0;
}

.dropdown-menu {
  min-width: 200px;
  margin: 0;
  padding: 10px 0;
  border-top: 3px solid #bfa67a;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.dropdown-menu > li > a {
  padding: 10px 20px;
  font-size: 13px;
  color: #7a7a7a;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: transparent;
  color: #bfa67a;
}

.dropdown-menu .megamenu-wrap ul > li > a {
  display: block;
  clear: both;
  font-weight: 500;
  line-height: 1.42857143;
  color: #7a7a7a;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropdown-submenu > a:after {
  font-family: "FontAwesome";
  position: absolute;
  content: "\f105";
  right: 15px;
  color: #7a7a7a;
}

.dropdown-menu,
.dropdown-submenu > .dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.dropdown:hover > .dropdown-menu,
.dropdown-submenu:hover > .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.navbar .dropdown-menu {
  margin-top: 0;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -2px;
}


/*-------------------------------------------------------*/
/* Content Home
/*-------------------------------------------------------*/
/* Intro
-------------------------------------------------------*/
.intro-heading {
  font-size: 28px;
  margin-bottom: 40px;
}

.heading-frame {
  padding: 38px 50px;
  border: 5px solid #111;
  display: inline-block;
}

.intro-text {
  font-size: 17px;
  line-height: 32px;
}

/*-------------------------------------------------------*/
/* Typography
/*-------------------------------------------------------*/
.section-headings p {
  margin-bottom: 30px;
}

blockquote {
  padding: 0 0 20px;
  margin: 0;
  border: none;
}

blockquote > p {
  font-size: 18px;
  line-height: 30px;
  font-style: italic;
  margin-bottom: 5px !important;
  position: relative;
}

blockquote > span {
  font-size: 14px;
}

.blockquote-style-1 {
  padding: 8% 10%;
  border: 4px solid #e5e5e5;
}

.blockquote-style-2 {
  padding: 20px 40px;
  border-left: 3px solid #333333;
}

.dropcap.style-1 {
  float: left;
  color: #333;
  font-size: 52px;
  line-height: 46px;
  padding-top: 4px;
  padding-right: 10px;
}

.dropcap.style-2 {
  float: left;
  color: #fff;
  text-align: center;
  background-color: #333333;
  width: 38px;
  height: 38px;
  font-size: 24px;
  line-height: 38px;
  margin: 10px 10px 0 0;
}

.highlight {
  padding: 3px 5px;
  color: #fff;
  background-color: #bfa67a;
}

.bullets li,
.arrows li,
.arrows-2 li,
.numbers li {
  margin-bottom: 10px;
}

.bullets {
  list-style-type: disc;
  margin-left: 17px;
}

.bullets li:before {
  font-size: 18px;
  color: #333333;
  padding-right: 0.5em;
  line-height: 1;
  vertical-align: middle;
}

.arrows i {
  margin-right: 5px;
}

.arrows i,
.arrows-2 i {
  color: #333333;
}

.arrows-2 i {
  font-size: 12px;
  margin-right: 7px;
}

ol.numbers {
  padding-left: 20px;
}

.section-columns p {
  margin-bottom: 40px;
}

/*-------------------------------------------------------*/
/* Shortcodes
/*-------------------------------------------------------*/
/* Accordions
-------------------------------------------------------*/
.accordion > .panel-content {
  padding: 10px 0 10px 20px;
}

.accordion > .acc-panel > a {
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 12px;
  padding: 13px 20px;
  background-color: #fff;
  color: #7a7a7a;
  margin-bottom: 10px;
  border: 3px solid #d1d1d1;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.accordion > .acc-panel > a.active {
  color: #111;
  background-color: #fff;
  border-color: #333;
}

.accordion > .acc-panel > a:after {
  font-family: "ElegantIcons";
  position: absolute;
  right: 10px;
  top: 2px;
  color: #7a7a7a;
  font-weight: normal;
  font-size: 26px;
}

.accordion > .acc-panel > a:after {
  content: "\35";
}

.accordion > .acc-panel > a.active:after {
  content: "\33";
  color: #333;
}

.accordion > .acc-panel > a:hover {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.accordion > .acc-panel > a:hover:after {
  color: #fff;
}

/* Tabs
-------------------------------------------------------*/
.nav.nav-tabs {
  border-bottom: none;
}

.nav.nav-tabs > li {
  margin-bottom: 0;
}

.nav.nav-tabs > li.active > a {
  border: 3px solid #333;
  background-color: #fff;
  padding: 13px 20px;
  color: #333;
}

.nav.nav-tabs > li > a {
  padding: 13px 20px;
  background-color: #fff;
  border: 3px solid #d1d1d1;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  color: #7a7a7a;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav.nav-tabs > li > a:hover {
  color: #fff;
  background-color: #333;
  border-color: #111;
}

.tab-content {
  padding: 20px 0;
}

.tab-content > .tab-pane > p {
  margin-bottom: 20px;
}

/* Buttons
-------------------------------------------------------*/
.section-buttons .btn {
  margin-bottom: 20px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.02em;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 3px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #fff;
  background-color: #111;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.btn.btn-color {
  background-color: #bfa67a;
}

.btn.btn-transparent {
  background-color: transparent;
  border: 3px solid #fff;
}

.btn.btn-stroke {
  color: #111;
  border: 3px solid #111;
  background-color: transparent;
}

.btn.btn-dark {
  background-color: #333;
}

.btn.btn-white {
  background-color: #fff;
  color: #111;
}

.btn.btn-light {
  background-color: #f5f5f5;
  color: #111;
}

.btn:hover {
  -webkit-transition: all 0.2 ease-in-out;
  -moz-transition: all 0.2 ease-in-out;
  -ms-transition: all 0.2 ease-in-out;
  -o-transition: all 0.2 ease-in-out;
  transition: all 0.2 ease-in-out;
  color: #fff;
  background-color: #bfa67a;
  border-color: transparent;
}

.btn:focus {
  outline: none;
  color: #fff;
}

.btn.btn-white:focus {
  color: #111;
}

.btn.btn-color:hover {
  background-color: #111;
}

.btn-lg {
  font-size: 14px;
  padding: 13px 34px;
}

.btn-md {
  font-size: 11px;
  padding: 10px 25px;
}

.btn-sm {
  font-size: 10px;
  padding: 8px 22px;
}


.btn.btn-book {
  color: #bfa67a;
  border-color: #bfa67a;
}

.btn.btn-book:hover {
  color: white;
}


/*-------------------------------------------------------*/
/* Form Elements
/*-------------------------------------------------------*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="search"],
select,
textarea {
  position: relative;
  height: 47px;
  line-height: 47px;
  border: 2px solid #e3e3e3;
  background-color: transparent;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 16px;
  color: #7a7a7a;
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  -ms-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

textarea#comment {
  height: 190px;
  padding: 0 16px;
  margin-bottom: 25px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  border-color: #bfa67a;
  outline: none;
  box-shadow: none;
}

textarea {
  height: auto;
  padding: 0px 16px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #7a7a7a;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #7a7a7a;
  opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #7a7a7a;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #7a7a7a;
}

select {
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  cursor: pointer;
}

.select i {
  position: absolute;
  top: 14px;
  right: 18px;
  pointer-events: none;
  font-size: 18px;
}

/* Checkboxes & Radio Buttons
-------------------------------------------------------*/
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  width: 22px;
  height: 22px;
  background-color: #e3e3e3;
  content: "";
  display: inline-block;
  font-size: 13px;
  margin: -4px 12px 0 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #111;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  letter-spacing: normal;
  color: #7a7a7a;
  font-size: 15px;
}

.radio-buttons > li,
.checkboxes > li {
  padding: 7px 0;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label:before {
  display: inline-block;
  content: "";
  width: 22px;
  height: 22px;
  background-color: #e3e3e3;
  border-radius: 40px;
  margin: -3px 10px 0 0;
  outline: none;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 0;
}

input[type="radio"]:checked + label:before {
  width: 22px;
  height: 22px;
  background-color: #111;
  border: 6px solid #e3e3e3;
}

input[type="radio"]:focus {
  outline: none;
}

label {
  font-weight: normal;
  color: #111;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  vertical-align: middle;
}

/*-------------------------------------------------------*/
/* Footer
/*-------------------------------------------------------*/
.footer.minimal {
  padding: 120px 0;
  text-align: center;
}

.footer.minimal .copyright {
  display: block;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.footer.minimal .copyright a {
  color: #909090;
}

.socials.footer-socials a {
  margin: 0 2px;
}

.socials.footer-socials a:hover i {
  color: #fff;
  background-color: #bfa67a;
}

.socials.footer-socials i {
  width: 37px;
  height: 37px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #1b1b1b;
  color: #dbdbdb;
  line-height: 37px;
  text-align: center;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*-------------------------------------------------------*/
/* Footer Type-2
/*-------------------------------------------------------*/
.footer.footer-type-2 {
  background-color: #111;
}

.footer-widgets {
  padding: 100px 0;
}

.footer-widgets h5 {
  margin-bottom: 24px;
  font-size: 16px;
  color: #fff;
}

.footer-widgets a {
  color: #7a7a7a;
}

.footer-widgets a:hover {
  color: #fff;
}

.footer-links ul > li {
  padding: 13px 0;
  border-bottom: 1px solid #292929;
  line-height: 24px;
}

.footer-links li {
  padding-bottom: 7px;
}

.footer-links li:last-child {
  padding-bottom: 0;
}

.footer-get-in-touch p {
  margin-bottom: 7px;
}

p.footer-address {
  margin-bottom: 24px;
}

.footer-entry {
  padding: 9px 0 14px;
  border-bottom: 1px solid #292929;
}

.footer-entry p {
  margin-bottom: 1px;
}

.footer-entry span {
  color: #4c4c4c;
  font-size: 12px;
}

.footer-entry:first-child,
.footer-links li:first-child {
  padding-top: 0;
}

.footer-entry:last-child,
.footer-links li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.footer-socials .social-icons a {
  margin-right: 3px;
  float: left;
  display: inline-block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  background-color: transparent;
  color: #7a7a7a;
  line-height: 32px;
  text-align: center;
  font-size: 13px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icons.light a {
  background-color: #f7f7f7;
}

.social-icons i {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  position: relative;
}

.social-icons a:hover {
  color: #fff;
}

.bottom-footer {
  background-color: #0c0c0c;
  padding: 34px 0;
}

.copyright span {
  font-size: 13px;
  line-height: 32px;
}

.copyright span a {
  color: #7a7a7a;
}

.copyright span a:hover {
  color: #fff;
}

/*-------------------------------------------------------*/
/* Footer Type-3
/*-------------------------------------------------------*/
.footer-type-3 {
  padding: 100px 0;
  font-size: 13px;
  line-height: 37px;
}

.footer-type-3 .footer-socials {
  text-align: right;
}

.footer-type-3 .footer-socials i {
  background-color: transparent;
  color: #7a7a7a;
}

.footer-type-3 .footer-socials a:hover i {
  background-color: transparent;
  color: #111;
}

.footer-type-3 a {
  color: #7a7a7a;
}

.footer-type-3 a:hover {
  color: #111;
}

.page-header {
  margin: 0;
  padding: 0;
  border: none;
}


/* Menus */
.ui-dialog.ui-widget{
  position: relative;
}

/* Customer Menu */
ul.customer-menu {
  position: absolute;
  width: 200px;
  left: -92px;
  background: white;
}

ul.customer-menu:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  top: -10px;
  position: absolute;
  left: 109px;
}

.customer-menu li {
  display: block;
  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
}

.customer-menu li > a {
  color: black;
  line-height: 30px;
  margin: 0px;
  padding: 15px;
  width: 100%;
  display: block;
}

.customer-menu li a:hover {
  color: black !important;
  background-color: #f5f5f5;
}

/* Minicart menu */

#minicart-content-wrapper {
  position: absolute;
  left: -200px;
  width: 300px;
  background: white;
  max-height: 500px;
  overflow: auto;
  line-height: 20px;
  padding: 15px;
}

div.block-minicart:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fdfdfd;
  top: -10px;
  position: absolute;
  left: 20px;
}

#btn-minicart-close {
  position: absolute;
  left: 282px;
  top: 4px;
  color: #b9b9b9;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#btn-minicart-close:hover {
  color: #000;
}

strong.subtitle.empty {
  display: block;
  padding: 50px;
}

